{% extends "base.html" %} {% block title %}Blog - Home{% endblock %} {% block
content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        a, h1, h5 {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<h1 style="text-align: center">UTN Blog</h1>
<div class="list-group" style="align-items: center">
    {% if error %}
    <div class="alert alert-danger" role="alert">Error: {{ error }}</div>
    {% endif %} {% if decode(role) == 'admin' %}
    <form method="get" action="{{ url_for('posts') }}" class="form-inline mb-4">
        <input
                type="text"
                name="filter"
                class="form-control mr-2"
                placeholder="Filter by content"
                value="{{ request.args.get('filter', '') }}"
        />
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    {% endif %} {% for post in posts %}
    <a
            href="{{ url_for('post', post_id=post['id']) }}"
            class="list-group-item list-group-item-action"
    >
        <h5 class="mb-1">{{ post['title'] }}</h5>
        <p class="mb-1">{{ post['content'] }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
