{% extends "base.html" %} {% block title %}{{ post['title'] }}{% endblock %} {%
block content %}
<div class="col-md-8">
  <article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">{{ post['title'] }}</h2>
    <p class="blog-post-meta">Agosto 1, 2021</p>

    <p>{{ post['content']|safe }}</p>
  </article>
</div>

<hr>
{% if 'role' in session %}
<form method="post">
  <div class="form-group">
    <label for="comment">Dejá tu comentario:</label>
    <input
            type="text"
            class="form-control"
            id="comment"
            name="comment"
            required
    />
  </div>
  <button type="submit" class="btn btn-secondary btn-sm">Comentar</button>
</form>
{% endif %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Comentarios</h6>
{% for comment in comments %}
  <div class="d-flex text-body-secondary pt-3">
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      <strong class="d-block text-gray-dark">{{ comment['username'] }}</strong>
      {{ comment['content'] }}
    </p>
  </div>
  {% endfor %}
  <small class="d-block text-end mt-3">
    <a href="/">Volver al home</a>
  </small>
</div>
{% endblock %}
